*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-mont: 'Montserrat', sans-serif;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-body: 1rem;

    --fw-regular: 300;
    --fw-bold: 900;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;      
        --fs-body: 1rem;
    }
}

body {
    background: white;
    color: darkslategrey;
    margin: 0;
    font-family: var(--ff-mont);
    font-size: var(--fs-body);
    line-height: 1.6;
    
}

section {
    padding: 5em 2em;
}
image {
    display: block;
    max-width: 100%;
}

.intro #me {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sectionTitle span {
    display: block;
}

h1, 
h2 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }

.sectionTitle {
    margin-bottom: .25em;
}

.sectionSubtitle {
    margin: 0;
    margin-bottom: 1em;
    font-size: var(--fs);
    background:mediumspringgreen;
    
}

.intro {
    position: relative;
}
